
@{
    ViewBag.Title = "Articles. The brain of ChessBrain.";
}

<h2>Articles</h2>

<td>
    @*@HTML.ActionLink ("GM Magnus", "Display", "Article", new {id = "1"}, null )*@
    <tr><img src="http://images.huffingtonpost.com/2016-12-04-1480872637-4816776-Game10.jpg" style="  width:18%; height: auto; border-style: solid; border-width: 3px;"><h1 style="display: inline">Is GM Magnus Carlsen about to hit the highest ELO ever?</h1></tr>

</td>
<br />
<br />
<td>
    <tr><img src="https://www.technobuffalo.com/wp-content/uploads/2016/02/chess.jpg" style="  width:18%; height: auto; border-style: solid; border-width: 3px;"><h1 style="display: inline"> Hikaru Nakamura vs Gary Kasparov. </h1></tr>

</td>
    
<br />
<br />
<td>
    <tr><img src="https://cdn.chess24.com/0j0Ah7fITayt7a7xGaGKyw/original/amin-leading.jpg" style="  width:18%; height: auto; border-style: solid; border-width: 3px;"><h1 style="display: inline"> Amin holds off Short to win in Abu Dhabi. </h1></tr>

</td>

<br />
<br />
<td>
    <tr><img src="https://images.chesscomfiles.com/proxy/www.wtharvey.com/kaspj/http/1be5dff7b1.png" style="  width:18%; height: auto; border-style: solid; border-width: 1px;"><h1 a href="html_images.asp" style="display: inline"> Daily Chess Puzzle: White to mate in 1 move. </h1></a></tr>

</td>
