@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1 Riverside Way<br />
    Leeds <br /> 
    LS1 4BN<br /> <br />
    Phone: 01942 345990  <br />
</address>

<address>
    <strong>Talk to our team:</strong>   <a href="mailto:ChessBrain@hotmail.com">ChessBrain@hotmail.com</a><br />
    <strong>Corrections and editorials? Tell us at:</strong> <a href="mailto:ChessBrainCorrections@hotmail.com">ChessBrainCorrections@hotmail.com</a>
</address>