@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ChessBrain</h1>
    <p class="lead">ChessBrain. The premier Chess news website.</p>
    <p><a href="https://chess24.com/en/read/news" class="btn btn-primary btn-lg">Play Chess (my side project)  &raquo;</a></p>
</div>



<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           Are you confused about the rules? Learn how to play Chess.
        </p>
        <p><a class="btn btn-default" href="https://www.thespruce.com/rules-of-chess-611533">Learn how to play Chess. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ELO Ratings</h2>
        <p>Are you confused about the ELO rating? Learn about the history, and the algorithm used for ELO calculation.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Elo_rating_system">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ready to advance?</h2>
        <p>Learn the more complex rules of Castling, Pawn promotion, En Pessant and 100 top chess openings.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>

</div>